a2wsgi==1.10.10
absl-py==1.4.0
aiosmtplib==5.1.0
aiosqlite==0.21.0
alembic==1.18.4
amplitude-analytics==1.2.2
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
apache-airflow==3.1.7
apache-airflow-core==3.1.7
apache-airflow-providers-common-compat==1.14.0
apache-airflow-providers-common-io==1.7.1
apache-airflow-providers-common-sql==1.32.0
apache-airflow-providers-smtp==2.4.2
apache-airflow-providers-standard==1.12.0
apache-airflow-task-sdk==1.1.7
apprise==1.9.7
argcomplete==3.6.3
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asgi-lifespan==2.1.0
asgiref==3.11.1
asn1crypto==1.5.1
asttokens==3.0.1
async-lru==2.2.0
asyncpg==0.31.0
attrs==25.4.0
babel==2.18.0
bcrypt==5.0.0
beartype==0.22.9
beautifulsoup4==4.14.3
bleach==6.3.0
blinker==1.9.0
boto3==1.42.62
botocore==1.42.62
cachetools==7.0.3
cadwyn==5.4.6
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
cli_helpers==2.12.0
click==8.1.7
cloudpickle==3.1.2
colorama==0.4.6
colorlog==6.10.1
comm==0.2.3
configobj==5.0.9
contourpy==1.3.3
coolname==4.0.0
cron_descriptor==2.0.6
croniter==6.0.0
cryptography==46.0.5
cycler==0.12.1
cyclopts==4.7.0
dateparser==1.3.0
debugpy==1.8.20
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.3.1
dill==0.4.1
dm-tree==0.1.9
dnspython==2.8.0
docker==7.1.0
docstring_parser==0.17.0
docutils==0.22.4
duckdb==1.4.4
ecdsa==0.19.2
einops==0.8.2
email-validator==2.3.0
etils==1.14.0
exceptiongroup==1.3.1
executing==2.2.1
Faker==40.23.0
fakeredis==2.34.1
fastapi==0.117.1
fastapi-cli==0.0.24
fastjsonschema==2.21.2
filelock==3.25.0
Flask==3.1.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
fonttools==4.62.1
fqdn==1.5.1
fsspec==2026.2.0
future==1.0.0
googleapis-common-protos==1.63.1
graphviz==0.21
graphx==0.0.4
greenback==1.3.0
greenlet==3.3.2
griffe==2.0.0
griffecli==2.0.0
griffelib==2.0.0
grpcio==1.78.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
humanize==4.15.0
hyperframe==6.1.0
idna==3.11
importlib_metadata==8.7.1
ipykernel==7.2.0
ipython==9.11.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jinja2-humanize-extension==0.4.0
jmespath==1.1.0
joblib==1.5.3
json5==0.13.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.4
jupyterlab==4.5.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
kafka-python==2.3.0
kagglehub==1.0.0
kagglesdk==0.1.16
kiwisolver==1.5.0
lark==1.3.1
lazy-object-proxy==1.12.0
libcst==1.8.6
linkify-it-py==2.1.0
lockfile==0.12.2
lupa==2.6
lxml==6.0.2
Mako==1.3.10
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl==0.1.2
metabase==1.4.5
methodtools==0.4.7
mistune==3.2.0
more-itertools==10.8.0
msgspec==0.20.0
narwhals==2.20.0
natsort==8.4.0
nbclient==0.10.4
nbconvert==7.17.0
nbformat==5.10.4
nest-asyncio==1.6.0
notebook==7.5.4
notebook_shim==0.2.4
numpy==2.4.2
oauthlib==3.3.1
opentelemetry-api==1.40.0
opentelemetry-exporter-otlp==1.40.0
opentelemetry-exporter-otlp-proto-common==1.40.0
opentelemetry-exporter-otlp-proto-grpc==1.40.0
opentelemetry-exporter-otlp-proto-http==1.40.0
opentelemetry-proto==1.40.0
opentelemetry-sdk==1.40.0
opentelemetry-semantic-conventions==0.61b0
orjson==3.11.7
outcome==1.3.0.post0
packaging==25.0
pandas==3.0.1
pandocfilters==1.5.1
parso==0.8.6
passlib==1.7.4
pathspec==1.0.4
pendulum==3.2.0
pexpect==4.9.0
pgcli==4.4.0
pgspecial==2.2.1
pig==0.1.2
pillow==12.1.1
platformdirs==4.9.4
plotly==6.7.0
pluggy==1.6.0
polars==1.38.1
polars-runtime-32==1.38.1
prefect==3.6.21
prometheus_client==0.24.1
promise==2.3
prompt_toolkit==3.0.52
protobuf==5.29.6
psutil==7.2.2
psycopg==3.3.3
psycopg2-binary==2.9.11
ptyprocess==0.7.0
pure_eval==0.2.3
py-key-value-aio==0.4.4
py4j==0.10.9.9
pyarrow==23.0.1
pyasn1==0.6.3
pycparser==3.0
pydantic==2.12.5
pydantic-extra-types==2.11.0
pydantic-settings==2.13.1
pydantic_core==2.41.5
pydataset==0.2.0
pydocket==0.18.0
Pygments==2.19.2
pygtrie==2.5.0
PyHive==0.7.0
PyJWT==2.11.0
PyMySQL==1.1.2
pyOpenSSL==25.3.0
pyparsing==3.3.2
Pyro4==4.82
pyspark==4.1.1
python-daemon==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-jose==3.5.0
python-json-logger==4.0.0
python-multipart==0.0.22
python-slugify==8.0.4
pytz==2026.1.post1
PyYAML==6.0.3
PyYAML-ft==8.0.0
pyzmq==27.1.0
readchar==4.2.1
redis==7.2.1
referencing==0.37.0
regex==2026.2.28
requests==2.32.5
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.3.3
rich-argparse==1.7.2
rich-rst==1.3.2
rich-toolkit==0.19.7
rpds-py==0.30.0
rsa==4.9.1
ruamel.yaml==0.19.1
ruamel.yaml.clib==0.2.15
s3transfer==0.16.0
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
semver==3.0.4
Send2Trash==2.1.0
serpent==1.43
setproctitle==1.3.7
setuptools==82.0.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
snowflake-connector-python==4.3.0
sortedcontainers==2.4.0
soupsieve==2.8.3
SQLAlchemy==2.0.48
SQLAlchemy-JSONField==1.0.2
SQLAlchemy-Utils==0.42.1
sqlparse==0.5.5
stack-data==0.6.3
starlette==0.48.0
storm==1.1
structlog==25.5.0
svcs==25.1.0
tabulate==0.10.0
tenacity==9.1.4
tensorflow-datasets==4.8.3
tensorflow-metadata==1.13.0
termcolor==3.3.0
terminado==0.18.1
text-unidecode==1.3
threadpoolctl==3.6.0
tinycss2==1.4.0
toml==0.10.2
tomlkit==0.14.0
tornado==6.5.4
tqdm==4.67.3
traitlets==5.14.3
typeguard==2.13.3
typer==0.23.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
uc-micro-py==2.0.0
uncalled-for==0.2.0
universal_pathlib==0.2.6
uri-template==1.3.0
urllib3==2.6.3
uuid6==2025.0.1
uv==0.11.2
uvicorn==0.41.0
uvloop==0.22.1
watchfiles==1.1.1
wcwidth==0.6.0
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
websockets==16.0
Werkzeug==3.1.7
whenever==0.9.5
widgetsnbextension==4.0.15
wirerope==1.0.0
wrapt==2.1.2
zipp==3.23.0
zookeeper==1.3.4
